@font-face {
  font-family: "A Bremen Caps";
  src: url("../../fonts/A_BREMENCAPS_REGULAR.TTF");
  font-weight: 400
}

@keyframes active-element {
  0% {
    box-shadow: 0px 0px 5px 1px rgba(236, 230, 48, 0.85);
  }
  15% {
    box-shadow: 0px 0px 5px 3px rgba(236, 230, 48, 0.85);
  }
  30% {
    box-shadow: 0px 0px 5px 1px rgba(236, 230, 48, 0.85);
  }
  45% {
    box-shadow: 0px 0px 5px 3px rgba(236, 230, 48, 0.85);
  }
  60% {
    box-shadow: 0px 0px 5px 1px rgba(236, 230, 48, 0.85);
  }
  75% {
    box-shadow: 0px 0px 5px 3px rgba(236, 230, 48, 0.85);
  }
  90% {
    box-shadow: 0px 0px 5px 1px rgba(236, 230, 48, 0.85);
  }
  100% {
    box-shadow: 0px 0px 5px -2px rgba(236, 230, 48, 0.85);
  }
}
@keyframes active-chest {
  0% {
    box-shadow: 0px 0px 5px 1px rgba(236, 230, 48, 0.85);
  }
  15% {
    box-shadow: 0px 0px 5px 5px rgba(236, 230, 48, 0.85);
  }
  30% {
    box-shadow: 0px 0px 5px 1px rgba(236, 230, 48, 0.85);
  }
  45% {
    box-shadow: 0px 0px 5px 5px rgba(236, 230, 48, 0.85);
  }
  60% {
    box-shadow: 0px 0px 5px 1px rgba(236, 230, 48, 0.85);
  }
  75% {
    box-shadow: 0px 0px 5px 5px rgba(236, 230, 48, 0.85);
  }
  90% {
    box-shadow: 0px 0px 5px 0px rgba(236, 230, 48, 0.85);
  }
  100% {
    box-shadow: 0px 0px 5px -2px rgba(236, 230, 48, 0.85);
  }
}
@keyframes topor {
  0%,85% {
     background-position-x: -20px;
  }
  97%, 100% {
    background-position-x: 30px;
  }
}
@keyframes naruchnik {
  0%,70% {
     background-position-x: -80px;
  }
  80%, 100% {
    background-position-x: 70px;
  }
}
@keyframes naplechnik {
  0%,70% {
     background-position-x: -95px;
  }
  80%, 100% {
    background-position-x: 95px;
  }
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'PT Sans', sans-serif;
  background-image: url(../images/body-bg.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height:1080px;

}

header, footer {
  display: none;
}

a, button {
  cursor: pointer;
  outline: none;
  text-decoration: none;
  transition:.3s;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  display:none;
}

input[type=number] {
  -moz-appearance:none;
}
.btn {
  width: 225px;
  height: 63px;
  position: relative;
  font-family: "A Bremen Caps";
  font-size: 36px;
  font-weight: 400;
  line-height: 63px;
  text-transform: uppercase;
  border: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 3px;
    top: 5px;
    width: 214px;
    height: 50px;
    box-shadow: -4px 6px 3px rgba(31, 32, 32, 0.4);
    border-radius: 4px;
  }
  &.btn-disable {
    background-image: url(../images/btn-disable-bg.png);
    color:#383838;
    cursor: not-allowed;
    &:after{
      border: 2px groove #c0c0c0;
    }

  }
  &.btn-active {
    background-image: url(../images/btn-active-bg.png);
    color: #52311b;
    transition: .3s;
    animation-name: active-element;
    animation-duration: 2s;

    &:after{
      border: 2px groove #fec602;
    }
    &:hover {
      -webkit-box-shadow: 0px 2px 19px 0px #f5eb27;
      -moz-box-shadow: 0px 2px 19px 0px #f5eb27;
      box-shadow: 0px 2px 19px 0px #f5eb27;
    }
  }
}
//canvas
#gnom{
  position: absolute;
  top: -7px;
  right: 0;
  z-index: 1;
}
#gnom-message{
  position: absolute;
  top: 152px;
  right: 5px;
  z-index: 4;
}
.gnom-message-box {
  width: 256px;
  height: 100px;
  position: absolute;
  top: 313px;
  right: 44px;
  z-index: 8;
  color: #333333;
  font-family: "A Bremen Caps";
  font-size: 20px;
  padding-top: 6px;
  text-align: center;
  font-weight: bold;
}
#eyes{
  position: absolute;
  top: 83px;
  right: 109px;
  z-index: 1;
}
#nose{
  position: absolute;
  top: 93px;
  right: 104px;
  z-index: 1;
}
#topor{
  width: 23px;
  position: absolute;
  height: 150px;
  top: 217px;
  right: 200px;
  z-index: 2;
  transform: rotate(-5deg);
  overflow: hidden;
  background: rgba(255,238,53,0.45);
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,238,53,0.45) 0%, rgba(255,254,241,0) 93%, rgba(255,255,255,0) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,238,53,0.45)), color-stop(93%, rgba(255,254,241,0)), color-stop(100%, rgba(255,255,255,0)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,238,53,0.45) 0%, rgba(255,254,241,0) 93%, rgba(255,255,255,0) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255,238,53,0.45) 0%, rgba(255,254,241,0) 93%, rgba(255,255,255,0) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,238,53,0.45) 0%, rgba(255,254,241,0) 93%, rgba(255,255,255,0) 100%);
  background: radial-gradient(ellipse at center, rgba(255,238,53,0.45) 0%, rgba(255,254,241,0) 93%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffee35', endColorstr='#ffffff', GradientType=1 );
  background-position-x: -20px;
  background-repeat: no-repeat;
  animation: topor 15s infinite;
}
#naruchnik{
  position: absolute;
  width: 75px;
  height: 50px;
  border-top-right-radius: 4px;
  border-top-left-radius: 35px;
  border-bottom-right-radius: 22px;
  z-index: 1;
  top: 132px;
  right: 137px;
  transform: rotate(23deg);
  overflow: hidden;
  background: rgba(255,244,31,0.25);
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,244,31,0.25) 32%, rgba(255,245,51,0.25) 38%, rgba(255,254,232,0) 93%, rgba(255,255,255,0) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(32%, rgba(255,244,31,0.25)), color-stop(38%, rgba(255,245,51,0.25)), color-stop(93%, rgba(255,254,232,0)), color-stop(100%, rgba(255,255,255,0)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,244,31,0.25) 32%, rgba(255,245,51,0.25) 38%, rgba(255,254,232,0) 93%, rgba(255,255,255,0) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255,244,31,0.25) 32%, rgba(255,245,51,0.25) 38%, rgba(255,254,232,0) 93%, rgba(255,255,255,0) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,244,31,0.25) 32%, rgba(255,245,51,0.25) 38%, rgba(255,254,232,0) 93%, rgba(255,255,255,0) 100%);
  background: radial-gradient(ellipse at center, rgba(255,244,31,0.25) 32%, rgba(255,245,51,0.25) 38%, rgba(255,254,232,0) 93%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff41f', endColorstr='#ffffff', GradientType=1 );
  background-position-x: -80px;
  background-repeat: no-repeat;
  animation: naruchnik 12s infinite;
  animation-delay: 3s;
}
#naplechnik{
  width: 95px;
  height: 54px;
  position: absolute;
  top: 110px;
  right: -13px;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 13px;
  transform: rotate(34deg);
  background: rgba(255,238,53,0.45);
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,238,53,0.45) 0%, rgba(255,254,241,0) 93%, rgba(255,255,255,0) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,238,53,0.45)), color-stop(93%, rgba(255,254,241,0)), color-stop(100%, rgba(255,255,255,0)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,238,53,0.45) 0%, rgba(255,254,241,0) 93%, rgba(255,255,255,0) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255,238,53,0.45) 0%, rgba(255,254,241,0) 93%, rgba(255,255,255,0) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,238,53,0.45) 0%, rgba(255,254,241,0) 93%, rgba(255,255,255,0) 100%);
  background: radial-gradient(ellipse at center, rgba(255,238,53,0.45) 0%, rgba(255,254,241,0) 93%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffee35', endColorstr='#ffffff', GradientType=1 );
  background-position-x: -96px;
  background-repeat: no-repeat;
  animation: naplechnik 10s infinite;
  animation-delay: 2s;
  z-index: 1;
}
.zakolka-animation{
  display: block;
  width: 20px;
  height: 20px;
  background: rgba(255,238,53,0.45);
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,238,53,0.45) 0%, rgba(255,254,241,0) 93%, rgba(255,255,255,0) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,238,53,0.45)), color-stop(93%, rgba(255,254,241,0)), color-stop(100%, rgba(255,255,255,0)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,238,53,0.45) 0%, rgba(255,254,241,0) 93%, rgba(255,255,255,0) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255,238,53,0.45) 0%, rgba(255,254,241,0) 93%, rgba(255,255,255,0) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,238,53,0.45) 0%, rgba(255,254,241,0) 93%, rgba(255,255,255,0) 100%);
  background: radial-gradient(ellipse at center, rgba(255,238,53,0.45) 0%, rgba(255,254,241,0) 93%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffee35', endColorstr='#ffffff', GradientType=1 );
  background-position-x: -20px;
  border-radius: 7px;
  background-repeat: no-repeat;
  animation: topor 15s infinite;
  position: absolute;

  z-index: 1;
  &#zakolka1{
    top: 236px;
    right: 166px;
    animation-delay:.3s;
  }
  &#zakolka2{
    top: 280px;
    right: 137px;
    animation-delay:.5s;
  }
  &#zakolka3{
    top: 252px;
    right: 89px;
    animation-delay:.7s;
  }
}
.container{
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.game-place-container{
  width: 100%;
  padding-top: 110px;
  display: flex;

  .game-place{
    width: 860px;
    position: relative;

    #game-start{
      position: absolute;
      bottom: 95px;
      right: -265px;
      z-index:2;
    }

  }
  .game-field{
    width: 530px;
    padding: 10px 10px 0 10px;
    position: relative;
    z-index:3;
    .game-field-chests-container{
      padding: 15px 0 0 5px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .chest-item{
        width: 160px;
        height:160px;
        text-align: center;
        padding-top: 34px;
        margin-bottom:13px;
        background-image:url(../images/chest-item-bg.png);
        background-position: center center;
        -webkit-background-size:cover;
        background-size:cover;
        background-repeat:no-repeat;
        &.active{
          animation-name: active-chest;
          animation-duration: 2s;
          cursor:pointer;
          transition:.3s;
          &:hover{
            -webkit-box-shadow: 0px 0px 19px 3px #fff759;
            -moz-box-shadow: 0px 0px 19px 3px #fff759;
            box-shadow: 0px 0px 19px 3px #fff759;
          }
        }
        &.open{
          cursor:inherit;
          -webkit-box-shadow: 0px 0px 19px 3px #fff759;
          -moz-box-shadow: 0px 0px 19px 3px #fff759;
          box-shadow: 0px 0px 19px 3px #fff759;
        }
      }
    }
    .game-user-login{
      text-align: center;
      p{
        color: #fff;
        padding: 0 20px 0 35px;
        font-size: 16px;
        text-shadow: 0 0 30px #1f2020;

        a{
          color: #fec602;
          &:hover{
            color:#FF9800;
          }
        }
      }
    }
  }
  .game-control{
    width: 305px;
    padding: 115px 10px 0 25px;
    #game-control-bg{
      position: absolute;
      top: 0;
      margin-left: -30px;
      min-height:1080px;
      display: block;
      background-image: url(../images/control-board-bg1.png);
      background-position-x: left;
      background-repeat: no-repeat;
      background-size: cover;
      z-index:1;
    }

    .game-control-title{
      padding:30px 10px 10px;
    }
    .game-control-container{
      background-image: url(../images/cbg.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 515px;
      border-radius: 3px;
      position: relative;
      z-index:2;
      .game-control-board{
        padding: 8px 15px 10px 15px;
        li{
          display: block;
          list-style:none;
          padding-bottom: 15px;
          .control-board-item-title{
            text-shadow: -4px 6px 3px rgba(31, 32, 32, 0.4);
            font-family: "A Bremen Caps";
            font-weight: 400;
            line-height: 36px;
            color: #ffffff;
            font-size: 18px;
          }
          .control-board-item-count{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            position: relative;
            &.close{
              z-index: -1 !important;
            }
              .item-title{
                text-shadow: -4px 6px 3px rgba(31, 32, 32, 0.4);
                font-family: "A Bremen Caps";
                font-weight: 400;
                line-height: 36px;
                color: #a3a09f;
                font-size: 15px;
              }
              .item-count{

                input{
                  width: 100px;
                  height: 25px;
                  text-align: right;
                  margin-right:25px;
                  border: 0;
                  background: transparent;
                  text-shadow: -4px 6px 3px rgba(31,32,32,0.4);
                  color: #fec602;
                  font-family: "A Bremen Caps";
                  font-size: 30px;
                  font-weight: 400;
                  text-transform: uppercase;
                  &#all-cash{
                    width: 83px;
                    margin-right: 0;
                  }
                  &#buy-games:focus{
                    box-shadow: 0 0 12px 8px #f5ec33;
                    background-color: rgba(117, 117, 117, 0.88);
                    padding: 2px 4px;
                    height: 29px;
                  }
                }

              }
            .board-item-icon{
              color:#ccc;
              position:absolute;
              right:0;
              width:27px;
              height:15px;
              line-height: 8px;
              text-align: center;
              cursor:pointer;
              transition:.3s;
              &:hover path{
                fill: rgba(217, 217, 217, 1);
              }
            }
            .add-game{
              top:0;
            }
            .remove-game{
              top:15px;
            }
            .currency-icon{
              position: absolute;
              right: 0;
              text-align: center;
              width: 25px;
              height: 25px;
              text-shadow: -4px 6px 3px rgba(31, 32, 32, 0.4);
              color: #959392;
              font-family: Arial;
              font-size: 24px;
              font-weight: 400;
              line-height: 32px;
              text-transform: uppercase;
            }
          }
          .one-game-cost{
            color:#fff;
            font-size:14px;
            line-height: 8px;
          }
        }
      }
    }
  }


}
.modal-window{
  width: 700px;
  height: 300px;
  border-radius: 12px;
  padding: 100px 15px;
  font-family: "A Bremen Caps";
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
  background-image: url(../images/modal-bg.png);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 999;
  p{
    font-size: 24px;
  }
  &:after{
    content:'';
    position: absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    border-radius: 12px;
    z-index:-1;
    opacity:1;
    display: block;
  }

  &.success-modal {
    text-shadow: -4px 6px 3px rgba(31, 32, 32, 0.4);
    color: #ffd74c;

    &:after{
      background-color: rgba(0, 0, 0, 0.64);
      -webkit-box-shadow: inset 0px 0px 57px 20px rgba(245,217,35,1);
      -moz-box-shadow: inset 0px 0px 57px 20px rgba(245,217,35,1);
      box-shadow: inset 0px 0px 57px 20px rgba(245,217,35,1);
    }
      span {
        font-size: 36px;
        padding: 0 5px;
        color: #fec602;
    }
  }
    &.lose-modal {
      text-shadow: -4px 6px 3px rgba(31, 32, 32, 0.4);
      color: #d0d0d0;
      &:after{
        background-color: rgba(0, 0, 0, 0.64);
        -webkit-box-shadow: inset 0px 0px 57px 20px #a9a9a9;
        -moz-box-shadow: inset 0px 0px 57px 20px #a9a9a9;
        box-shadow: inset 0px 0px 57px 20px #a9a9a9;
      }
    }
    &.login-modal {
      padding-top: 60px;
      h4{
        color:#d0d0d0;
      }
      span{
        position: absolute;
        right: 15px;
        top: 10px;
        color: #3e3306;
        padding: 0 5px;
        transition:.3s;
        &:hover{
          cursor:pointer;
          color:#c7c7c7;
        }
      }
button{
  display: block;
  width:300px;
  text-align: center;
  background: transparent;
  text-shadow: -4px 6px 3px rgba(31,32,32,0.4);
  font-family: "A Bremen Caps";
  font-size: 22px;
  border-radius: 4px;
  margin: 15px auto;
  padding: 10px;
  font-weight: 400;
  text-transform: uppercase;
  &.user-login-btn{
    color: #fec602;
    border: 3px groove #edee0e;
    &:hover{
      -webkit-box-shadow: 0px 1px 20px -3px #edee0e;
      -moz-box-shadow: 0px 1px 20px -3px #edee0e;
      box-shadow: 0px 1px 20px -3px #edee0e;
    }
  }
  &.user-registration-btn{
    color: #fff;
    border: 3px groove #fff;
    &:hover{
      -webkit-box-shadow: 0px 1px 20px -3px rgba(255,255,255,1);
      -moz-box-shadow: 0px 1px 20px -3px rgba(255,255,255,1);
      box-shadow: 0px 1px 20px -3px rgba(255,255,255,1);
    }
  }

}

      &:after{
        background-color: rgba(0, 0, 0, 0.64);
        -webkit-box-shadow: inset 0px 0px 57px 20px #ffef85;
        -moz-box-shadow: inset 0px 0px 57px 20px #ffef85;
        box-shadow: inset 0px 0px 57px 20px #ffef85;
      }
    }


}